body {
  margin: 2%;

  a {
    text-decoration: none;
  }

  label {
    display: block;
  }

  nav a {
    display: inline-block;
    margin: 1em;
  }

  form div {
    display: inline-block;
  }
}

.Aligner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Aligner-item {
  max-width: 75%;
  padding-top: 20px;
  text-align: center;
}
.Aligner-item-wide {
  max-width: 95%;
}
.Aligner-item--top {
  align-self:flex-start;
}

.Aligner-item--bottom {
  align-self:flex-end;
}

.adminBox {
  margin-left: 1%;
}

.adminBoxForm {
  margin-top: 1%;
  margin-bottom: 1%;
}
